.signup-form {
  padding: 40px;
  max-width: 400px;

  & &--invalid {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    background-color: white;
  }

}
