.App {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.header-link {
  display: inline-block;
  padding: 5px 10px;
}

.title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
  padding: 10px;
  background: #00B8D9;
}

.nav a {
  color: #F4F5F7;

}

.main {
  padding: 25px;
}
